@page "/conferences/detail/{mode}/{id:guid}"
@page "/conferences/detail/{mode}"

<SectionContent SectionName="top-bar-right">
    <MudToggleIconButton Color="Color.Inherit" ToggledColor="Color.Inherit" Toggled="!_readonly" ToggledChanged="@ToggleEditMode" Icon="@Icons.Material.Filled.RemoveRedEye" ToggledIcon="@Icons.Material.Filled.Save"></MudToggleIconButton>
</SectionContent>

@if (_isLoading)
{
    <MudProgressLinear Indeterminate="true"></MudProgressLinear>
}
else if (_conf is not null)
{
    <MudText Class="ma-6" Typo="Typo.h4">@_conf.Title</MudText>

    <MudPaper Elevation="2" Class="ma-6 pa-4">
        <EditForm @ref="_editForm" class="d-flex flex-column" Model="@_conf" OnSubmit="@SaveConference">
            <FluentValidationValidator />
            <DataAnnotationsValidator />
            <MudTextField @bind-Value="_conf.Title" ReadOnly="_readonly" Label="Title"></MudTextField>
            <ValidationMessage For="@(() => _conf.Title)" />
            <MudTextField @bind-Value="_conf.City" ReadOnly="_readonly" Label="City"></MudTextField>
            <ValidationMessage For="@(() => _conf.City)" />
            <MudTextField @bind-Value="_conf.Country" ReadOnly="_readonly" Label="Country"></MudTextField>
            <ValidationMessage For="@(() => _conf.Country)" />
            <MudDatePicker @bind-Date="_conf.DateFrom" ReadOnly="_readonly" Label="Date from"></MudDatePicker>
            <ValidationMessage For="@(() => _conf.DateFrom)" />
            <MudDatePicker @bind-Date="_conf.DateTo" ReadOnly="_readonly" Label="Date to"></MudDatePicker>
            <ValidationMessage For="@(() => _conf.DateTo)" />

            @if (!_readonly)
            {
                <div class="d-flex justify-end gap-4 mt-6">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Cancel">Abbrechen</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Outlined" ButtonType="ButtonType.Submit">Speichern</MudButton>
                </div>
            }
        </EditForm>
    </MudPaper>
}
else
{
    <MudAlert Severity="Severity.Info">Die Konferenz wurde nicht gefunden!</MudAlert>
}
